
 <!-- ======= Header ======= -->
 <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex justify-content-between align-items-center">

      <div id="logo">
        <h1>Doctor Eye</h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt=""></a> -->
      </div>

      <nav id="navbar" class="navbar">
        <iframe src="http://192.168.184.227:3000/d-solo/kTugyy74k/ecg?orgId=1&from=-3675&to=6125&panelId=2" width="450" height="200" frameborder="0"></iframe>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Welcome</h2>
          <ol>
            <li><a href="../mainpage">Home</a></li>
            <li>Inner Page</li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs Section -->